.first-float-chat {
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.25));
  border-radius: 12px 12px 0 0;
  //background: url("/../..img/backgroundfloat.svg");
  //background: linear-gradient(0, #ffa45e 25.5%, rgba(246, 168, 108, 0.91) 45.5%, #F5F4F5 70.49%);
  background-size: cover;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 310px;
  height: 493px;

  .banner-image{
    position: absolute;
  }

  .content{
    position: relative;
    padding: 20px 16px;

    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;

      .name{
        font-weight: 500;
        font-size: 17px;
        line-height: 17px;
      }

      .close-btn{
        background: transparent;
        border: none;
        padding: 0;
      }
    }

    .search{
      display: flex;
      align-items: center;

      .label{
        font-weight: normal;
        font-size: 17px;
        line-height: 17px;
      }
      .input-block{
        margin-left: 11px;
        width: 100%;

        input{
          width: 94%;
          border: none;
          background: transparent;
          height: 25px;
          font-size: 1rem;

          &:focus-visible{
            outline: none;
            border: none;
          }
        }
      }
    }
  }

  .user-chat{
    position: relative;

    .user-info-header{
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 9px;

      .left-side{
        display: flex;
        align-items: center;

        .user-avatar{
          width: 42px;
          height: 42px;
          margin-right: 9px;

          img{
            width: 42px;
            height: 42px;
            object-fit: cover;
          }
        }
        .username{
          font-weight: 600;
          font-size: 19px;
          line-height: 19px;
          color: #162521;
          margin-right: 9px;
        }
        .is-online{
          width: 12px;
          height: 12px;
          background: #2AD062;
          border-radius: 50%;
        }
      }

    }

    .message-lists{
      padding: 16px;
      overflow-y: scroll;
      height: 32vh;

      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 8px;
      }
    }
  }
}