.list-float-chat{
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  //background: url("/../..img/background.svg");
  //background: linear-gradient(0, #ffa45e 25.5%, rgba(246, 168, 108, 0.91) 45.5%, #F5F4F5 70.49%);
  background-size: cover;
  position: fixed;
  top: 100px;
  right: 30px;
  width: 432px;
  height: 689px;

  .banner-image{
    position: absolute;
  }

  .content{
    padding: 20px 16px;
    position: relative;
  }
}