.button-list-chat{
  background: rgba(254, 104, 69, 0.15);;
  border-radius: 50px;
  position: fixed;
  right: 32px;
  top: 32px;
  padding: 14.5px 16px;
  appearance: none;
  border: none;
  cursor: pointer;
}